/Combatentes.class
/Arqueiro.class
/Monstros.class
/Orc.class
/Dragao.class
/Humanos.class
/FactoryCombatentes.class
/OrcMontanha.class
/OrcDeserto.class
/Mago.class
/Trol.class
/DragaoGelo.class
/DragaoFogo.class
