/Tipo.class
/Fraquezas.class
/TipoJoias.class
/TipoCombatentes.class
/TipoArmasArmaduras.class
/ChancesAtaqDef.class
/FraquezasCombatentes.class
/FraquezasArmasArmaduras.class
/VantagensCombatentes.class
