/ArmaduraEletrica.class
/ArmaduraFogo.class
/ArmaduraAgua.class
/ArmaduraTerrestre.class
/ArmaduraVenenosa.class
/CouracaFogo.class
/CouracaAgua.class
/CouracaVenenosa.class
/CouracaEletrica.class
/CouracaTerrestre.class
/PeitoralFogo.class
/PeitoralAgua.class
/PeitoralTerrestre.class
/PeitoralVenenoso.class
/PeitoralEletrico.class
/ArmaduraOuro.class
/ArmaduraFerro.class
/ArmaduraBronze.class
/CouracaFerro.class
/CouracaPano.class
